* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
    /* deixa o scrool do mause mais suave */
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --maisEscuro: #0a0f1c;
    --Escuro: #0f172a;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--Escuro);
    color: var(--claro);
}

.navegacao {
    /* TOP:0 - para garantir que ele vai ficar la em cima no topo */
    top: 0;
    position: fixed;
    /* cor trensparente */
    background: rgba(15, 23, 42, 0.8);
    /* WIDTH - ocupa 100% da largura da tela */
    width: 100%;
    /* Z-INDEX - define quem fica na frente de quem */
    z-index: 100;
    /* PADDING - é um espaçamento interno */
    padding: 1.5rem;
}

.menu {
    /* DISPLAY FLEX - PARA DEIXAR A LISTAS UM DO LADO DA OUTRA */
    display: flex;
    /* LIST-STYLE NONE - PARA TIRAR AS BOLINHAS QUE FICAM EM CIMA DO LINK */
    list-style: none;
    gap: 3rem;
    justify-content: center;
    /* JUSTIFY- CONTENT CENTER - COLOCA A LISTA NO CENTRO */
}

.menu-link {
    text-decoration: none;
    /* tira a decoração do link */
    color: var(--claro);
    /* cor do texto */
    font-weight: 500;
    /* para deixar o texto um pouco mais grosso */
    position: relative;
    padding: 0.5rem;
}

.menu-link::after {
    content: '';
    border-radius: 10%;
    height: 5px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: 0.5s ease;
}

/* before é antes e after é depois */
.menu-link:hover::after {
    width: 100%;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.nome {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-subtitulo {
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(128, 114, 114, 0.1);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1rem;
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.projetos {
    padding: 6rem 2rem;
}

.projetoscaixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    /* LINE-HEIGHT- É A ALTURA DA LINHA 
    */
    line-height: 1.25rem;
}

.caixa-texto-projetos {
    padding: 1.5rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}



.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
        var(--maisEscuro);
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@media (max-width: 421px) {


    .projetoscaixa {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1rem;

    }


    .menu {
        gap: 1rem;
    }

    .nome {
        font-size: 2.50rem;
    }

    .cabecalho-subtitulo {
        font-size: 1rem;
    }

    .cabecalho {
        margin-top: 90px;

    }
}

@media (max-width:331px) {
    .projetos-titulo {
        font-size: 2rem;

    }

    .sobre-titulo {
        font-size: 2rem;
    }

    .projetos-titulo {
        font-size: 2rem;
    }

}

@media (max-width:391px) {
    .contatos-titulo {

        font-size: 2rem;

    }

}

.footer-text {
    text-align: center;
    margin-bottom: 1px;
    font-size: 0.7rem;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 0.5rem;


    inline-size: none;


}



.mesiganasredes {
    margin-bottom: 3px;
    font-weight: bold;
    text-align: center;
}



.icone {
    color: linear-gradient(90deg, var(--primaria), var(--secundaria));

}

.icone i {
    font-size: 20px;
    margin-bottom: 10px;
}